@model IEnumerable<InventoryMS.DTOs.OrderDetailDTO>
@{
    ViewBag.Title = "showOrders";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}
@{
    string getOrderStatusClass(string status)
    {
        string stClass = "text-warning";
        if (status == "Processing")
        {
            stClass = "text-success";
            return stClass;
        }
        if (status == "Declined")
        {
            stClass = "text-danger";
            return stClass;
        }
        return stClass;
    }
}
<br /><a class="btn btn-primary" href="/Customer/Dashboard">Dashboard</a>
<br />
<br />
<h4>All Orders</h4>
@foreach (var item in ViewBag.OrderData)
{
    <div>
        <span class="h5">Order ID: </span><span class="h5 text-info">@(item.OrId)</span> &nbsp; &nbsp;
        <span class="h5">Order Status: </span><span class="h5 @getOrderStatusClass(item.Status)">@(item.Status)</span> &nbsp; &nbsp;
        <span class="h5">Order Time: </span><span class="h5 text-secondary">@(item.Time)</span> <br />
        <span class="h5">Order Delivery Address: </span><span class="h5 text-secondary">@(item.DelAddress)</span> <br />
    </div>
    <br />
    <table class="table">
        <tr>
            <th>
                ID
            </th>
            <th>
                Name
            </th>
            <th>
                Category
            </th>
            <th>
                Quantity
            </th>
            <th>
                Price
            </th>
        </tr>
        @foreach (var orders in Model)
        {
            if (orders.OrId == item.OrId)
            {

                <tr>
                    <td>
                        @orders.ProductId
                    </td>
                    <td>
                        @ViewBag.pdNames[orders.ProductId]
                    </td>
                    <td>
                        @ViewBag.ctNames[orders.ProductId]
                    </td>
                    <td>
                        @orders.OrderedQuantity
                    </td>
                    <td>
                        @orders.Price
                    </td>
                </tr>
            }

        }
    </table>
    <br /><br />
}