@model IEnumerable<InventoryMS.DTOs.CategoryDTO>

@{
    ViewBag.Title = "Category";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<h4>Category List</h4>
@if (TempData["catRemoved"] != null && (bool)TempData["catRemoved"])
{
    <br />
    <div><span class="text-danger">Category Deleted</span></div>
    <br />

    TempData["catRemoved"] = false;
}
@if (TempData["successCtEdit"] != null && (bool)TempData["successCtEdit"])
{
    <br />
    <br />
    <div><span class="text-success">Category Information Updated</span></div>
    <br />
    <br />
    TempData["successCtEdit"] = false;
}
<p>
    <br /><a class="btn btn-primary" href="/Category/Create">Add Product</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
