@model IEnumerable<FoodRescueTrackerSystem.DTOs.FoodCollectionDTO>

@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<h2>Dashboard</h2>

<div>
    <form action="" method="post">
        <div class="inputField">
            <label for="duedate" class="label label-primary">Collection Due-Time</label>
            <input type="datetime-local" name="DueTime" id="DueTime" class="form-control">
        </div>
        <div class="inputField">
            <input type="text" class="form-control" name="address" id="address" placeholder="Enter address for collection">
        </div>
        <div class="inputField">
            <input type="text" class="form-control" name="Comments" id="Comments" placeholder="Add comments (optional)">
        </div>
        <div>
            <input type="submit" name="submit" value="Create Request" class="btn btn-success">
        </div>
    </form>
    <div class="vrSpace"></div>
</div>
<table class="table table-bordered">
    <tr>
        <th>
            ID
        </th>
        <th>
            Request Creation Time
        </th>
        <th>
            Address
        </th>
        <th>
            Due Time
        </th>
        <th>
            Comments
        </th>
        <th>
            Status
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RequestTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DueTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comments)
        </td>
        @if (@item.Status == "Accepted")
        {
            <td class="text text-primary">
                @Html.DisplayFor(modelItem => item.Status)
            </td>
        }
        @if (@item.Status == "Collected")
        {
            <td class="text text-warning">
                @Html.DisplayFor(modelItem => item.Status)
            </td>
        }
        @if (@item.Status == "Distributed")
        {
            <td class="text text-success">
                @Html.DisplayFor(modelItem => item.Status)
            </td>
        }
        @if (@item.Status == "Requested")
        {
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
        }
    </tr>
}
</table>
